Makefile
*.o
*.cache
*.log
*.status
*.gmo
*.lo
*.a
*.swp
*/.deps/*
**/.deps/*
*/po/*
*/.libs/*
*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

stamp-*

gdb/build-gnulib/
gdb/data-directory/python/
gdb/data-directory/syscalls/
gdb/gdb-gdb.gdb
opcodes/configure.lineno

.project
.cproject
intl/libintl.h
